[33mcommit c7210d06fca327de9959104fec95784da44a3187[m[33m ([m[1;36mHEAD[m[33m)[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Thu Dec 14 13:44:09 2023 +0700

    commit

[33mcommit 728c7c47e3d4e21f871b3900cdf4167ce1d3e50d[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Thu Dec 14 11:45:56 2023 +0700

     menghapus style dan menambahkan script

[33mcommit 0c9e16e30738273bae15c70f63837d397d6be502[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Thu Dec 14 11:41:50 2023 +0700

    lanjutan commit

[33mcommit a1a73b088df10d6cdbd356bc21888d48cf36b544[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Thu Dec 14 11:39:57 2023 +0700

    Commit folder

[33mcommit 0e71337f2edeb427e518925992f9497e53909304[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Thu Dec 14 11:29:53 2023 +0700

    git config --global.name "mtshmzlhq"

[33mcommit 9da4369c57a987edc63b053178564687829fe21d[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Wed Aug 23 10:54:37 2023 +0700

    melakukan perubahan di file1.txt

[33mcommit 8ae4bc0bb8c00ec773bd3e36acb21e965849a32e[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Wed Aug 23 10:47:53 2023 +0700

    menambah file3.txt

[33mcommit 274421789893e01f024e20c1cc2460588051221e[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Wed Aug 23 10:46:56 2023 +0700

    menambah file2.txt

[33mcommit 0fce378714a92b5cc6cf33173a8aefade8d0f309[m
Author: Mutashim Zia Ul Haq <mutashimziaulhaq@gmail.com>
Date:   Wed Aug 23 10:44:02 2023 +0700

    menambah file1.txt
